/* You can add global styles to this file, and also import other style files */
/* Global Button Styles */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body, html, li, td, th, ul, ol, center, textarea, p, input, div {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  /* overflow-x: hidden; */
}
.btn-primary {
  color: #ffffff !important;
  background-color: #25be85 !important;
  border-color: #25be85 !important;
  font-size: 14px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #ff701a;
  border-color: #ff701a;
}

.btn-secondary {
  color: #fff;
  background-color: #25be85 !important;
  border-color: #25be85 !important;
  font-size: 14px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
}
.border-r0{
  border-radius: 0px !important;
}
.border-r3{
  border-radius: 3px !important;
}
.border-r5{
  border-radius: 5px !important;
}
.border-r30{
  border-radius: 30px !important;
}
.border-r100{
  border-radius: 100% !important;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.no-border{
  border: 0px !important;
}
.margin-b0{
  margin-bottom: 0px !important;
}
.margin-b10{
  margin-bottom: 10px !important;
}
.margin-b20{
  margin-bottom: 20px !important;
}
.margin-b40{
  margin-bottom: 40px !important;
}
.margin-b60{
  margin-bottom: 60px !important;
}
.margin-t10{
  margin-top: 10px !important;
}
.margin-t20{
  margin-top: 20px !important;
}
.margin-t8{
  margin-top: 8px !important;
}
.margin-t40{
  margin-top: 40px !important;
}
.margin-l15{
  margin-left: 15px !important;
}
.margin-r15{
  margin-right: 15px !important;
}.background-transparent{
  background: transparent !important;
}
.tab-search-box{
  position: absolute;
  right: 0;
  top: -60px;
}
.tab-search-box .input-group-text{
  border-left: 0px;
  border-radius: 0 5px 5px 0 !important;
}
.my-grid{
  border-radius: 5px;
  height: 370px;
}
.my-table {
  height: 300px;
  overflow: auto;
}
.my-grid th, .my-grid td{
  /*padding: 10px 10px;*/
  vertical-align: middle;
  font-size: 14px;
}
.my-grid .mat-header-cell{
  background: #f6f6f6;
  color: #4a4a4a;
  border-top:0px;
  border-bottom: 1px solid #909090;
  font-weight: 600;
  padding: 0 10px;
  font-size: 14px;
}
.my-grid .mat-header-cell:first-child{
  border-radius: 10px 0 0 0;
  border-top: 0px;
}
.my-grid .mat-header-cell:last-child{
  border-radius: 0px 10px 0 0;
  border-top: 0px;
}
.my-grid .mat-sort-header-container{
  font-size: 14px;
}
.my-grid .mat-cell {
  background: #ffffff;
  color: #818181;
  border-color: #eff5fc !important;
  font-weight: 400;
  padding: 0 10px;
}
.my-grid .mat-sort-header-button{
  text-align: left;
}
.my-grid .mat-header-cell .btn-primary, .my-grid .mat-cell .btn-primary,
.my-grid .mat-header-cell .btn-secondary, .my-grid .mat-cell .btn-secondary{
  padding: 3px 12px !important;
}
.my-grid .mat-cell .btn-primary:disabled{
  background: #4a4a4a !important;
  border-color: #4a4a4a !important;

}
.my-grid tr.table-selected td{
  background: #ebebeb;
}
.pagination-container li.page-item a.page-link{
  border: 0px !important;
  color: #a4a4a4 !important;
  font-weight: 400;
}
.pagination-container li.page-item.active a.page-link{
  background: transparent !important;
  font-weight: 600;
  color: #4a4a4a !important;
}
.pagination-container .mat-icon-button{
  background: #ebebeb;
  border-radius: 2px;
  color: #000000 !important;
  margin: 0 5px;
  font-weight: 300;
}
.pagination-container li.page-item.page-link-icon a.page-link i{
  font-size: 12px;
}
.pagination-container span.current-record{
  line-height: 34px;
  display: inline-block;
  margin-left: 10px;
  color: #4a4a4a;
}
.section-header{
  background: #f6f6f6;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  border-radius: 5px 5px 0 0 ;
}
.finalize-tab .mat-tab-header{
  background: #f6f6f6;
}
.finalize-tab .mat-tab-label{
  background: #ebebeb !important;
  border-radius: 0px !important;
  margin-right: 20px;
  color: #4a4a4a;
}
.finalize-tab .mat-tab-label-active{
  background: #f05a00 !important;
}
.finalize-tab .mat-tab-label .mat-tab-label-content{
  font-size: 14px !important;
  color: #4a4a4a !important;
  font-weight: 600;
}
.finalize-tab .mat-tab-label-active .mat-tab-label-content{
  color: #ffffff !important;
}
.finalize-tab .mat-tab-label, .finalize-tab .mat-tab-label-active{
  line-height: 30px;
  position: relative;
  overflow: visible;
  height: 44px;
  padding: 0 10px !important;
}
.finalize-tab .mat-tab-label::before, .finalize-tab li .mat-tab-label-active::before{
  content: '';
  position: absolute;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
  border-left: 22px solid #ebebeb;
  right: -21px;
  top: 0;
}
.finalize-tab .mat-tab-label-active::before{
 border-left: 22px solid #f05a00;
 background: #ebebeb;
}
.finalize-tab .mat-tab-label-active:after {
  content: '';
  position: absolute;
  width: 21px;
  height: 100%;
  background: #f05a00 !important;
  left: -20px;
  z-index: -1;
}
.finalize-tab .mat-tab-label:last-child::before{
 background: transparent;
}
.finalize-tab .card-header{
  padding: .75rem 1.25rem !important;
  background-color: rgba(0,0,0,.03) !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
.finalize-tab .card-header:last-child{
  border-bottom: 0px !important;
}
.order-details-container .mat-tab-body-wrapper{
  width: 96%;
  margin: 20px auto;
  background: #ffffff !important;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
}
.order-details-container .mat-tab-body-wrapper .mat-expansion-panel-header-title{
  font-size: 14px;
  text-transform: capitalize;
  color: #000000 !important;
  opacity: 1;
}
.order-details-container .mat-tab-body-wrapper .mat-expansion-panel-spacing{
  margin: 0 !important;
}
.custom-control-input:checked~.custom-control-label::before{
  background: #e54400 !important;
  border-color: #dedede !important;
}
.mat-form-field-label{
  font-size: 14px !important;
  font-family: 'Roboto', sans-serif !important;
}
.borderline-label{
  position: absolute;
  background: #fff;
  left: 10px;
  top: -10px;
  font-size: 13px;
  color: #7a7a7a;
  padding: 0 5px;
}
.confirmation-tick{
  width: 50px;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
  line-height: 46px;
  font-size: 30px;
  border-width: 2px !important;
  font-weight: normal !important;
}

.header {
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0px 0px 8px #7b7b7b;
}

.header-text {
  font-size: 20px;
  float: left;
  line-height: 92px;
  margin: 0;
  margin-left: 20px;
  border-left: 2px solid #f05a00;
  padding-left: 20px;
  font-weight: 600;
  color: #3e3f42;
}

.logo-image {
  float: left !important;
  width: 150px;
  margin-top: 3px;
}

.user-name-menu .dropdown {
  margin-top: 8px;
}
.user-name-menu .text-primary{
  font-size: 12px;
  color: #6fadf5 !important;
}
.user-name-menu .user-name span{
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
}
.user-name-menu .user-name span:first-child{
  vertical-align: middle;
  font-size: 40px;
  margin-right: 10px;
  margin-top: -10px;
  color: #cfcfcf;
}

.footer {
  height: 56px;
  padding-top: 18px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 60px;
}
.footer.page-flow {
  position: static;
}

.empty-row {
  height: 60px;
}
.grid-border{
   border:1px solid #909090;
   border-radius: 5px;
}
.tab-content>.tab-pane {
  border: 0px;
  padding: 0px 0px !important;
  margin-top: 20px;
}

.tab-content> .active{
  border:1px solid #909090;
  border-radius: 10px;
}
.nav-tabs {
  border-bottom: 0px;
}

.nav-tabs .nav-link {
  color: #a4a4a4;
  background-color: transparent;
  border-bottom: 0px;
  font-size: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #000000;
  font-weight: 700;
  border: 1px solid transparent;
  border-bottom: 0px;
}
.nav-tabs .nav-item.show .nav-link span,
.nav-tabs .nav-link.active span{
  background: #ec3333;
  border-radius: 100%;
  color: #ffffff;
}
.nav-tabs .nav-link span{
  background: #ececec;
  border-radius: 100%;
  color: #a4a4a4;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover{
  border: 1px solid transparent;
  border-bottom: 0px;
}

.table-actions-wrapper .btn-link {
  padding: 0;
  vertical-align: top;
}

.form-row .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.calender-control .fa {
  position: absolute;
  right: 25px;
  top: 38px;
}
/* Finalise workorder page */
.card-title {
  font-size: 16px;
}
.accordion .card-header:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
}

.question {
  color: #131315;
  font-weight: bold;
  background-color: #e1e1e1;
  padding: 8px 10px;
  border-radius: 5px;
}

.answer-container .btn.btn-link {
padding: 10px 0;
}
.answer-container {
  padding: 0px 25px;
}

.answer-container .conflict-state {
  border: 1px solid red;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: #fef7f7;
}
.answer-container + .question-container {
  margin-top: 20px;
  padding-top: 20px;
}

.user-item {
  padding-bottom: 5px;
  color: #ff7d00;
  border-bottom: 1px dotted #aeaeae;
  margin-bottom: 10px;
  /* text-transform: uppercase; */
}
.work-order-details-container p {
  margin-bottom: 0px;
  color: #000;
  font-weight: bold;
}

.work-order-details-container span {
  font-weight: initial;
}

.work-order-details-container .card-header {
  color: #f05a00;
  font-weight: bold;
  text-transform: uppercase;
}
.windmill-detail-contanier ul{
  margin: 0;
  border: 0px;
}
.windmill-detail-contanier ul li{
  margin: 0;
  padding:5px 0;
  border: 0px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.windmill-detail-contanier ul li span{
  font-weight: 400;
}
.windmill-detail-contanier >div{
  border-right: 1px solid #d8d8d8;
  padding-left: 40px;
  padding-right: 40px;
}
.windmill-detail-contanier >div:last-child{
  border-right: 0px;
}
.windmill-detail-contanier >div:first-child{
  padding-left: 20px;
}
.order-details-container{
  font-weight: 600;
}
.mat-table .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 1px;
  display: none;
}

/* Main tab CSS */
.tab-container .mat-tab-body-wrapper{
  margin-top: -50px;
  margin-bottom: 60px;
}
.tab-container .mat-tab-header{
  z-index: 999;
  width: 50% !important;
}
.mat-tab-header, .mat-tab-nav-bar{
  border-bottom: 0px;
}
.mat-tab-label{
  padding: 0 24px 0 0!important;
  text-align: left !important;
  justify-content: left !important;
  opacity: 1 !important;
  /* min-width: 160px !important; */
}
.mat-tab-label .mat-tab-label-content{
  border: 1px solid transparent;
  border-bottom: 0px;
  font-size: 16px;
  text-align: left !important;
  color: #a4a4a4 !important;
}
.mat-tab-label-active .mat-tab-label-content{
  color: #000000 !important;
  font-weight: 700;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: transparent;
}

.mat-snack-bar-container.success {
  background-color: green;
  color: #fff;
}
.mat-snack-bar-container.notification {
  font-size: 18px !important;
  font-weight: bold;
  justify-content: center;
  min-width: fit-content;
}
.mat-snack-bar-container.error {
  background-color:red;
  color: #fff;
}

/*******Check box and radio button*/
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color: #bebebe;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: #e54400;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon{
  font-size: 1.3em !important;
}
.header-menu.mat-menu-panel{
  min-width: 210px !important;
  width: 100%;

}
.mat-select-arrow{
  border-left: 7px solid transparent !important;
  border-right: 7px solid transparent !important;
  border-top: 7px solid !important;
}
.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: rgba(0,0,0,.87) !important;
}
.mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
  color: rgba(0,0,0,.87) !important;
}
.mat-grid-list .mat-grid-tile .mat-figure{
  align-items:end !important;
}
.assign-workorder-form .mat-grid-list .mat-grid-tile .mat-figure{
  align-items:center !important;
  height: 450px !important;
}
.my-grid .mat-form-field{
  max-width: 100px;
}
.mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 3px 0 !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #25be85 !important;
}
a.dropdown-item{
    color: #000000;
    background-color: #fbfbfb !important;
    border-color: #000000;
    border: 1px solid #000000;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s (ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out);
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
  background-color: #25be85 !important;
  border-color: #25be85 !important;
}